<footer>
    <div class = "separator"></div>
    <div class = "fBox">
        <div class="author">
            Martyna Kolaska, 2024
        </div>
        <div class="socials">
            <a href="https://github.com/mkolaska04"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/martyna-kolaska-7140572b3/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer>
</html>
