:root {
    --main-bg-color: #1e1e24;
    --primary-color: #779BE7;
    --light-color: #f7f7f7;
    --secondary-color:#2ECC71;
    --option:#7209b7;
}
  
body{
    margin:0;
    background-color: var(--main-bg-color);
    color:var(--light-color);
}

.logo{
    padding:10px;
    font-size:1.8rem;
}
.nav{
    top:0px;
    position:fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color:var(--primary-color) ;   
    box-shadow: 0px 5px 0px rgba(0, 0, 0);
}
.navBtn{
    display:inline;
    height: 100%;
    padding:1rem;
    font-size:1.5rem;
    color:var(--light-color);
}
.navBtn:hover{
    border-bottom:4px solid var(--light-color);
}
a{
    text-decoration:none;
    color: var(--light-color);
}

footer{
    width:90%;
    margin:0px auto;

}
.separator{
    margin:80px 0px 20px; 
    display:block;
    height:2px;
    background-color: var(--primary-color);
    opacity: 80%;
}
.fBox{
    display:flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}
.socials a {
    padding-left:20px;
    font-size: 1.5rem;
}


.main{
    width:60%;
    margin:0 auto;
}   
h1{
    margin:20px;
}
/* CREATE */
form{
    background-color: var(--primary-color);
    padding:20px 10%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-self: center;
    border-radius:8px ;
}
input, textarea{
    margin:10px 0;  
    border-radius: 8px;
    box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.2);
}
form > .input {
    background-color: var(--light-color);
    padding:4px;
    border:none;
    width:100%;
    font-size: 1.2rem;   
}
.description{
    height:300px;
}
input[type="submit"]{
    background-color: var(--secondary-color);
    border:2px solid var(--secondary-color);
    color:var(--light-color);
    font-size: 1.5rem;
    align-self: flex-end;
}
input[type="file"]{
    align-self: flex-start;
    width:100%;
    max-width: 350px;
    font-size:1.2rem;
    color:var(--main-bg-color);
    background-color: var(--light-color);
    text-shadow: 0 0 2px #fff;
}
input[type="text"]:nth-child(2) {
    height: 300px;
}
/* MAIN */


/* SEE ALL */


@media(max-width: 991px) {
    /* start of large tablet styles */
}
    
@media (max-width: 767px) {
    .main{
        width:80%;
    }
}

@media (max-width: 479px) {
    .main{
        width:90%;
    }
}