@import url("./variables.css");
body{
    margin:0;
    background-color: var(--main-bg-color);
    color:var(--light-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main{
    width:60%;
    margin:6rem auto 0px;
}   
h1{
    margin:20px;
}
/* CREATE */
form{
    background-color: var(--primary-color);
    padding:20px 10%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-self: center;
    border-radius:8px ;
}
input, textarea{
    margin:10px 0;  
    border-radius: 8px;
    box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.2);
}
form > .input {
    background-color: var(--light-color);
    padding:4px;
    border:none;
    width:100%;
    font-size: 1.2rem;   
}
.description{
    height:300px;
}
input[type="submit"]{
    background-color: var(--secondary-color);
    border:2px solid var(--secondary-color);
    color:var(--light-color);
    font-size: 1.5rem;
    align-self: flex-end;
}
input[type="file"]{
    align-self: flex-start;
    width:100%;
    max-width: 350px;
    font-size:1.2rem;
    color:var(--main-bg-color);
    background-color: var(--light-color);
    text-shadow: 0 0 2px #fff;
}
input[type="text"]:nth-child(2) {
    height: 300px;
}
/* MAIN */
.content{
    font-size: 1.8rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
}
.page-des{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.content i {
    filter:drop-shadow(0px 5px 5px black);
    font-size: 8rem;
    color: var(--secondary-color);
    margin: 1rem 2rem;
}

/* SEE ALL */
.if-not-created{
    font-size:2rem;
    height:60vh;
}
h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.note-title{
    font-size:2.5rem;
    color: var(--secondary-color);
    margin:10px 20px;
}
.note-content{
    background-color: var(--primary-color);
    padding:2rem;
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius:8px;
}
.note-content img {
    max-width:48%;
    height: auto;
    justify-self: center;
    object-fit: contain;
    filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
}
.note-description{
    word-wrap: break-word;
    width:50%;
    background-color: var(--light-color);
    color: var(--main-bg-color);
    padding:1rem;
    margin-right:1.5rem;
    font-size: 1.3rem;
    border-radius: 8px;
    box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.2);
}

@media(max-width: 991px) {
    .note-content{
        flex-direction: column;
    }
    .note-description{
        margin: 1rem 0;
    }
    .note-content img {
        max-width: none;
        width: 100%;
    }
    /* start of large tablet styles */
}
    
@media (max-width: 767px) {
    .main{
        width:80%;
        margin:6rem auto 0px;
    }
    .note-content{
        flex-direction: column;
    }
    .note-description{
        margin: 1rem 0;
    }
    .note-content img {
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 479px) {
    .main{
        width:90%;
        margin:8rem auto 0px;
    }
    .note-content{
        flex-direction: column;
    }
    .note-description{
        margin: 1rem 0;
    }
    .note-content img {
        max-width: none;
        width: 100%;
    }
}