<%- include("partials/header.ejs") %>
<div class="main">
<h1>CREATE YOUR OWN NOTE</h1> 
    <form action="/create" method="post" enctype="multipart/form-data">
        <input name="title" type="text" class="title input" placeholder="Title" />
        <textarea name="text" class="description input" placeholder="Description"></textarea>
        <input type="file" name="file" id="file" accept="image/png"/>
        <input type="submit" value="SUBMIT" />
    </form>
</div>
<%- include("partials/footer.ejs") %>
