<%- include("partials/header.ejs") %>
<div class="main">
<h1>Create your own note</h1> 
    <form action="/create" method="POST" enctype="multipart/form-data">
        <input name="title" type="text" class="title input" placeholder="Title" />
        <textarea name="description" class="description input" placeholder="Description" type="text"></textarea>
        <input type="file" name="image" id="image" accept="image/png/jpg/jpeg"/>
        <input type="submit" value="SUBMIT" />
    </form>
</div>
<%- include("partials/footer.ejs") %>
