<%- include("partials/header.ejs") %>
<div class="main">
    <div class="content">
    <div class="page-des part-1">
        <div class="text 1">
            Notenni is a free, easy-to-use tool for quick note-taking.
        </div>
        <i class="fa-solid fa-list-ul"></i>
    </div>
    <div class="page-des part-2"> 
        <i class="fa-solid fa-mobile-screen"></i><i class="fa-solid fa-desktop"></i>
        <div class="text 2">
            Accessible from any device with internet access, it allows you to create and save notes effortlessly without the need for installation. 
        </div>
    </div>
    <div class="page-des part-3">
        <div class="text 3">
            Perfect for capturing ideas, to-do lists, or any thoughts on the go.
        </div>
        <i class="fa-regular fa-paper-plane"></i>
    </div>
</div>
</div>
<%- include("partials/footer.ejs") %>


<!-- 
    position
    display
    width
    height
    margin
    padding
    font-size
    colors
    styling
 -->
