<%- include("partials/header.ejs") %>
<div class="main">
    <div class="websiteDescription">
        "Notenni is a free, easy-to-use tool for quick note-taking.
         Accessible from any device with internet access, it allows you to create and save notes effortlessly without the need for installation. 
         Perfect for capturing ideas, to-do lists, or any thoughts on the go."
</div>
</div>
<%- include("partials/footer.ejs") %>


<!-- 
    position
    display
    width
    height
    margin
    padding
    font-size
    colors
    styling
 -->
