<%- include("partials/header.ejs") %>
<div class="main">
    <h1>SEE ALL</h1> 
    <div class="'content>">
        <div class="title">
            Title
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ullam doloremque sequi dignissimos tenetur quia, sint temporibus, quasi est praesentium amet adipisci tempora veniam omnis consequuntur minus repudiandae dicta? Dignissimos!
        </div>
        <div class="image">

        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>
